NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=
GITHUB_PAT=
REGALATOR_PUBLIC_URL=https://regalator.example.com
REGALATOR_PROJECT_PATH=/absolute/path/to/project
REGALATOR_CHECKOUT_HOOK=/absolute/path/to/project/scripts/regalator/checkout-hook.sh
REGALATOR_START_SCRIPT=/absolute/path/to/project/scripts/regalator/startup.sh
REGALATOR_PROJECT_BACKEND_URL=
